@inherits LayoutComponentBase

<Layout>
    <!-- Header -->
    <LayoutHeader Fixed>
        <TopMenu />
    </LayoutHeader>

    <!-- Side + body -->
    <Layout Sider
            Style="margin-top: 65px;">
        <LayoutSider>
            <LayoutSiderContent>
                <SideMenu />
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>
            <LayoutContent>
                <div class="content">
                    @Body
                </div>
            </LayoutContent>
        </Layout>
    </Layout>
</Layout>
