@inherits ComponentBase

<Bar Background="Background.Primary"
     ThemeContrast="ThemeContrast.Light"
     Breakpoint="Breakpoint.Desktop">
    <BarBrand>
        <BarItem>
            <div class="header">
                App title
            </div>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarEnd>
            <BarItem>
                [ USER DROPDOWN ]
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {

}
